JENKINS_URL=
JENKINS_ADMIN_USER=
JENKINS_ADMIN_PASSWORD=
JENKINS_USER=
JENKINS_API_TOKEN=
GITHUB_TOKEN=
GITHUB_REPO=
GEMINI_API_KEY=
GITHUB_USERNAME=
GITHUB_CREDENTIALS_ID=
RABBITMQ_URL=
DATABASE_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
WEBHOOK_SHARED_SECRET=
PROMETHEUS_URL=
DOCKER_GID=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_MANAGEMENT_URL=


