JENKINS_URL=
JENKINS_ADMIN_USER=
JENKINS_ADMIN_PASSWORD=
JENKINS_USER=
JENKINS_API_TOKEN=
GITHUB_TOKEN=
GITHUB_REPO=
GEMINI_API_KEY=
RABBITMQ_URL=
DATABASE_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
WEBHOOK_SHARED_SECRET=
PROMETHEUS_URL=